<div id="pageHeader">
	<%= image_tag("/assets/mediahead.gif") %>
</div>
<div id="contentBox">
	<h1>Images</h1>
		<p>These images are available to download for use in marketing:</p>
			<div id="leaves">
			<%= image_tag("/assets/cj.green.leaves400.gif") %>
			<%= link_to "Full Size", "/assets/cj.green.leaves.jpg", :target => "_blank" %> | <%= link_to "Download", "/assets/cj.green.leaves.pdf" %>
			</div>
			<div id="standing">
			<%= image_tag("/assets/cj.green.standing400.gif") %>
			<%= link_to "Full Size", "/assets/cj.green.standing.jpg", :target => "_blank" %> | <%= link_to "Download", "/assets/cj.green.standing.pdf" %>
			</div>
</div>
<div id="contentBox">
	<h1>Videos</h1>
		<p>The Day Frog Swallowed The Ocean (Children)</p>
		<p style="padding-left: 430px; margin-top: -27px;">Snow White And Rose Red (Adults)</p>
			<iframe width="400" height="349" src="http://www.youtube.com/embed/7CzWkvIr8Hw" frameborder="0" allowfullscreen></iframe>
			<iframe width="400" height="349" src="http://www.youtube.com/embed/_UT7dHznoro" frameborder="0" allowfullscreen></iframe>
</div>
