<div id="pageHeader">
	<%= image_tag("/assets/mediahead.gif") %>
</div>
<div id="mediaLeft">
<p>These images are available to download for use in marketing:</p>
<%= image_tag("/assets/cj.green.leaves200.gif") %> 
<%= link_to "Full Size", "/assets/cj.green.leaves.jpg" %> | <%= link_to "Download", "/assets/cj.green.leaves.pdf" %>
<%= image_tag("/assets/cj.green.standing200.gif") %> 
<%= link_to "Full Size", "/assets/cj.green.standing.jpg" %> | <%= link_to "Download", "/assets/cj.green.standing.pdf" %>
</div>
<div id="mediaRight">
	<p>The Day Frog Swallowed The Ocean</p>
	<iframe width="425" height="349" src="http://www.youtube.com/embed/7CzWkvIr8Hw" frameborder="0" allowfullscreen></iframe>
	<p>The Turnip</p>
	<iframe width="425" height="349" src="http://www.youtube.com/embed/z9OzMIjfl0w" frameborder="0" allowfullscreen></iframe>
</div>
