<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @medium.title %>
</p>

<p>
  <b>Description:</b>
  <%= @medium.description %>
</p>

<p>
  <b>Embed code:</b>
  <%= @medium.embed_code %>
</p>


<%= link_to 'Edit', edit_medium_path(@medium) %> |
<%= link_to 'Back', media_path %>
