<div id="contentBox">
	<% if admin? %>
		<div class="login">
			<%= link_to 'Edit', edit_post_path(@post) %> | <%= link_to 'Back', posts_path %>
		</div>
	<% end %>
	<h1><%= @post.name %></h1>
		<%= image_tag(@post.pic.url(:large)) if @post.pic_file_name.present? %>
		<p style="font-style: italic;"><%= @post.blurb %></p>
		<p style="contentDescription"><%== @post.description %></p>
</div>